employee/src/main/resources/schema/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://parameta.com/apisoap/employee"
           xmlns:tns="http://parameta.com/apisoap/employee"
           elementFormDefault="qualified">

    <xs:element name="SaveEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="documentType" type="xs:string"/>
                <xs:element name="documentNumber" type="xs:string"/>
                <xs:element name="birthDate" type="xs:string"/>
                <xs:element name="joinDate" type="xs:string"/>
                <xs:element name="position" type="xs:string"/>
                <xs:element name="salary" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SaveEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="documentType" type="xs:string"/>
                <xs:element name="documentNumber" type="xs:string"/>
                <xs:element name="birthDate" type="xs:string"/>
                <xs:element name="joinDate" type="xs:string"/>
                <xs:element name="position" type="xs:string"/>
                <xs:element name="salary" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>